body {
  background-color: rgba(26, 25, 24, 0.664);
}

.main {
  margin-left: -10px;
  margin-top: -10px;
  display: block;
  position: fixed;
  width: 100%;
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
}
/* Карточки */

.main .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 80%;
}

.main .cards .card {
  position: relative;
  width: 10%;
  height: 280px;
  font-size: 15px;
  border: 2px solid #000;
}

.main .cards .card ul {
  width: 100%;
  margin-left: -35px;
}

.main .cards .card .field {
  display: block;
  list-style-type: none;
  font-weight: bolder;
  color: #fff;
}

.main .card:hover {
  transform: scale(1.3);
  bottom: 5%;
  margin-left: 20px;
  z-index: 10;

  background-color: #000;
}

.main .card img {
  display: block;
  width: 100%;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
}

/* Пагинация */

.main .pag {
  position: absolute;
  bottom: 20%;
  left: 43%;
  display: block;
}

.main .pag .previous {
  display: block;
  position: absolute;
}

.main .pag .previous::before {
  content: url(./images/prev.png);
}

.main .pag .forward {
  margin-bottom: 100%;
  margin-left: 100px;
}

.main .pag .forward::after {
  content: url(./images/next.png);
}

.main .pag a:hover {
  text-shadow: rgb(117, 119, 212) 0 0 5px;
}
